@import "tailwindcss";

* {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  display: flex;
  justify-content: center;
  position: relative;
}

@theme {
  --color-primary: #3a0ca3;
  --color-secondary: #9d4edd;
  --color-highlight: #d6bcfa;
  --color-highlight: #1e1b2e;
  --color-text: #f5f0ec;

  --breakpoint-sm: 40rem; /* 640px  */
  --breakpoint-md: 48rem; /* 768px  */
  --breakpoint-lg: 64rem; /* 1024px */
  --breakpoint-xl: 80rem; /* 1280px */
  --breakpoint-2xl: 96rem; /* 1536px */
}

/* :root {
  @media (min-width: theme(--breakpoint-md)) and (max-width: theme(--breakpoint-lg)) {
    color: red;
  }
} */
